body {
}

/* Tabs */
ul.primary {
  width: 67%;
}
ul.secondary {
  margin-left: 33%;
}
.compact-link {
  display: none;
  text-align: right;
}

.filter-wrapper {
}


/* Messages */
div.messages {
  border-width: 0px;
}
div.status {
  background-image: url("images/ok.png");
}
div.error {
  background-image: url("images/error.png");
}
div.warning {
  background-image: url("images/warning.png");
}

input.form-submit, a.button {
	background: #CCE4F2;
	color: #222;
	border-color: #99C8E5;
	border-radius: 1em;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-weight: normal;
	margin: 1em 1em 1em 0;
	padding: 0.125em 0.25em;
	text-align: center;
}